html body {
    font-family: 'Montserrat', serif;
    margin: 0;
    padding: 0;

}

.header-menu li a {
    text-decoration: none;
    color: #FF0000;
}

.header-menu li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    list-style: none;

    display: inline-block;
    margin-right: 72px;
    box-sizing: border-box;

    margin-top: 25.5px;
    margin-bottom: 25.5px;
}

.header-menu {
    text-align: center;
    margin: 0;
    padding: 0;
}

.backpicture {
    height: 789px;
    top: 78px;
    background: url("../img/image1.jpg") no-repeat center;
    background-size: cover;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    margin: 49px 253px 38px 253px;
}

.main-text {
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: auto;
    margin-right: auto;
}

.second-text {
    width: 1145px;
    height: 216px;
    left: 67.5px;
    top: 275px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: auto;
    margin-right: auto;
}

#rectangle {
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    border-radius: 4px;
    background: #FF0000;
    margin-top: 62px;
    margin-left: 45%;
    margin-right: 60%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.button-container {
    display: block;
    text-align: center;
    margin-top: 66px;
}
.button-footer {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border: none;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.copyright-text {
    margin-right: 105px;
    margin-top: 82px;
    margin-bottom: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
}


